---
import ControlPanel from "../components/ControlPanel.astro";
import MainNav from "../components/MainNav.astro";
---

<html lang="en" class="w-full h-full">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>colin-thornton</title>
    <script>
      document.documentElement.classList.add("dark");
      const savedTheme = localStorage.getItem("theme");
      if (
        savedTheme === "light" ||
        (!savedTheme &&
          window.matchMedia("(prefers-color-scheme: light)").matches)
      ) {
        document.documentElement.classList.remove("dark");
      }
    </script>
  </head>
  <body
    class="w-full max-w-full overflow-x-hidden h-full grid grid-cols-1 sm:grid-cols-[auto,auto,1fr] grid-rows-[auto,1fr] text-gray-900 bg-gray-300 dark:text-gray-50 dark:bg-gray-900"
  >
    <header class="col-span-3 flex items-center justify-between py-2 px-3">
      <h1 class="text-xl">colin-thornton</h1>
      <button
        id="menu-toggle"
        class="w-6 h-6 grid grid-rows-3 gap-1.5 sm:hidden"
      >
        <span class="bg-gray-900 dark:bg-gray-50 rounded-sm"></span>
        <span class="bg-gray-900 dark:bg-gray-50 rounded-sm"></span>
        <span class="bg-gray-900 dark:bg-gray-50 rounded-sm"></span>
      </button>
    </header>
    <ControlPanel class="fixed top-11 sm:static" />
    <MainNav class="fixed top-11 left-20 sm:static" />
    <main class="bg-gray-50 dark:bg-gray-700 relative z-10">
      <slot />
    </main>
  </body>
</html>

<script>
  document.getElementById("menu-toggle")?.addEventListener("click", () => {
    document.documentElement.classList.toggle("menu-open");
    document.documentElement.style.setProperty(
      "--menu-x-offset",
      `${document.querySelector("nav")?.getBoundingClientRect().right}px`
    );
  });
</script>

<style>
  main {
    transition: transform 200ms ease-in;
    transform: translate3d(0, 0, 0);
  }
  .menu-open main {
    transform: translate3d(var(--menu-x-offset, 100%), 0, 0);
  }
  @screen sm {
    .menu-open main {
      transition: none;
      transform: none;
    }
  }
</style>
